<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuchai.itcommune.mapper.DeptMoneyTopMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yuchai.itcommune.entity.DeptMoneyTop">
        <result column="department" property="department" />
        <result column="money" property="money" />
        <result column="created_date" property="createdDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        department, money, created_date
    </sql>
    <select id="getDeptMoneyTop" resultMap="BaseResultMap">
      select t.department,sum(t.money) as money from dept_money_top t WHERE t.created_date
      between #{startTime} and #{endTime} GROUP BY t.department
    </select>
</mapper>
