<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuchai.itcommune.mapper.EvaluationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yuchai.itcommune.entity.Evaluation">
        <id column="id" property="id" />
        <result column="user_code" property="userCode" />
        <result column="user_name" property="userName" />
        <result column="team_id" property="teamId" />
        <result column="project_id" property="projectId" />
        <result column="evaluation" property="evaluation" />
        <result column="created_name" property="createdName" />
        <result column="created_by" property="createdBy" />
        <result column="created_date" property="createdDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_code, user_name, team_id, project_id, evaluation, created_name, created_by, created_date
    </sql>

</mapper>
